.flex-container{
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(232, 228, 228);
    font-size: 100%;
    width: 100%;
    padding: 10px;
    border: 1px black solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.apple-seeds{
    color: rgb(21, 21, 21);
    flex-grow: 12;
}
.home{
    flex-grow: 1;
    color: rgb(58, 58, 58);

}
.about{
    flex-grow: 1;
    color: rgb(58, 58, 58);

}
.Protofolio{
    flex-grow: 1;
    color: rgb(58, 58, 58);

}
.contact{
    flex-grow: 1;
    color: rgb(58, 58, 58);

}

@media (max-width: 800px) {
    .flex-container {
      display: flex;
      flex-direction: column;
      font-size: 150%;
      width: 100%;
      height: 350px;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .apple-seeds{
        flex-grow: 2
    }
  }
