body{
    margin: 0px;
}
.box{
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 400px;
    background-color:red;
}
.box::after {
    content: ""; 
    position: absolute;
    left: 200px;
    width: 200px;
    height: 400px; 
    background-color: blue; 
    z-index: 1;
}
.box:hover{
    content: ""; 
    position: absolute;
    
    width: 400px;
    height: 400px; 
    background-color:  rgb(164, 19, 166);;
    z-index: 100;
}