* {
    font-family: 'Poppins', sans-serif;

}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.circle {
    border-radius: 50%;
    background-color: rgb(202, 202, 202);
    width: 50px;
    height: 50px;
    color: rgb(202, 202, 202);
    text-align: center;
}

form {
    margin-top: 50px;
    border-radius: 15px;
    border: 0.5px solid #bebebe;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .create {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 40px;
}

.email {
    /* padding-right: 80%; */
    padding-right: 43%;
    color: rgb(130, 130, 130);
    width: 300px;
}

input {
    width: 85%;
    border-radius: 10px;
    height: 40px;
    border: 1px solid lightgray;
}

form .password {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* padding: 20px; */
    align-items: center;
    color: rgb(130, 130, 130);
}

.password p {
    font-size: 16px;
}

.password p:nth-child(1) {
    margin-left: 35px;
    margin-top: 16px;
}

.password p:nth-child(2) {
    margin-right: 35px;
    margin-top: 16px;
}

button {
    background-color: rgb(206, 205, 215);
    color: white;
    margin-top: 20px;
    width: 85%;
    border-radius: 28px;
    height: 55px;
    border: none;
    font-size: 20px;
}

a {
    text-decoration: underline;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.issues {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 150px;
    margin-top: 50px;
    /* align-items: flex-end; */
    gap: 150px;
}