div{
    border: 7px black solid;
    top: 100px;
    position: relative;
    margin-left: 100px;
    font-size: 2em;

}

.one{
    height: 300px;
    width: 300px;
}
.two{
    width: 300px;
    height: 400px;
    left: 150px;
    top: -100px;
    background-color: white;
}

.three{
    width: 800px;
    height: 300px;
    top: -200px;
    background-color: white;
}
.four{
    background-color: white;
    width: 150px;
    height: 800px;
    top: -900px;
    left: 600px;
}