.flex-container{
    width: 1000px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    background-color: blanchedalmond;
}


.one{
    width: 200px;
    height: 100px;
    background-color: green;
}
.two{
    width: 200px;
    height: 100px;
    background-color: blue;
}
.three{
    width: 200px;
    height: 100px;
    background-color: red;
}